# Built .class files
*.class

# Generated parser files
src/parser/*.java

# API files
api/html/*

# Built aast files
tests/*.aast

# Diff files
tests/*.diff

# Test jar files
tests/*.jar

# Generated bantamc.bat
bin/bantamc.bat

# Jasmine Files
*.j